<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>resNo</key>
		<string>74c6f9dfe86a4b4d86a7edcd20f7acbd</string>
		<key>type</key>
		<string>video</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6Ijc0YzZmOWRmZTg2YTRiNGQ4NmE3ZWRjZDIwZjdhY2JkIiwianRpIjoiZTM4MDFmZTAtYmRmMS00NyIsImV4cCI6MTYwNTk1MTgzNCwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.xxcoQFwgYLr7l3qoJaB4MceLUDPa2sPVkwO7gCx4Z5E

</string>
		<key>fileName</key>
		<string>ES权限系统介绍</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>9bd67b0320264ecd8338d3366d8110c0</string>
		<key>type</key>
		<string>audio</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6IjliZDY3YjAzMjAyNjRlY2Q4MzM4ZDMzNjZkODExMGMwIiwianRpIjoiNDIxZmU3MDgtYjAzNC00MCIsImV4cCI6MTYwNTk1MTcyOSwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.tXTpIJCJO_ZcKx1jiwKlwllGUrKjB_gY25DdCksZE1s</string>
		<key>fileName</key>
		<string>社群自生长生态闭环搭建</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>4aaa8b9b60094aac82d8db0c1e05fd68</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6IjRhYWE4YjliNjAwOTRhYWM4MmQ4ZGIwYzFlMDVmZDY4IiwianRpIjoiNGI3N2Q1ZTAtYjcwZi00YiIsImV4cCI6MTYwNTk1MTg2MSwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.H0VdwQhliG2MKe7YOeNtaGRrpEh4_4AEAVqIPgOVdcA</string>
		<key>fileName</key>
		<string>QQ第三方登陆</string>
		<key>type</key>
		<string>video</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>7fde0e3726da466e82fedf17b6b91264</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6IjdmZGUwZTM3MjZkYTQ2NmU4MmZlZGYxN2I2YjkxMjY0IiwianRpIjoiNTU1MDk0ZjEtYzExMS00ZiIsImV4cCI6MTYwNTk1MTg4OCwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.Z38-TAJvo_RpLm9Qfxiz_p9Wvo_ktENLTCSGuAa9ugE</string>
		<key>fileName</key>
		<string>支付宝支付</string>
		<key>type</key>
		<string>video</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>f1ff3e4e974241c6960e161a13def27a</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6ImYxZmYzZTRlOTc0MjQxYzY5NjBlMTYxYTEzZGVmMjdhIiwianRpIjoiYmY5ZGJhZjktOTE5Mi00MiIsImV4cCI6MTYwNTk1MTkxMiwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.zpMt9i5zihqjAHCe0mPZbynPm8sLZ7XbVQZQxPgsYow</string>
		<key>fileName</key>
		<string>微信网页登录</string>
		<key>type</key>
		<string>video</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>7a258816894e442c815fcccca120cbcc</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6IjdhMjU4ODE2ODk0ZTQ0MmM4MTVmY2NjY2ExMjBjYmNjIiwianRpIjoiNWM1MDA3NzItN2UzNS00MyIsImV4cCI6MTYwNTk1MTk1OSwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.qyj_XUA4ciZgDfTOfdKcW47O6FQLLb7PyAx-GbqV-qI

</string>
		<key>fileName</key>
		<string>微博登录</string>
		<key>type</key>
		<string>video</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>9654b674805a43838bd0a097704ef348</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6Ijk2NTRiNjc0ODA1YTQzODM4YmQwYTA5NzcwNGVmMzQ4IiwianRpIjoiOTQ4NzUyMGEtNzA2Ny00OCIsImV4cCI6MTYwNTk1MTk4MiwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.TAdxqgCmBHlQSwznbzq07SbRJ3CelHMhGC-0udlrWr4</string>
		<key>fileName</key>
		<string>微信支付</string>
		<key>type</key>
		<string>video</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>375673e97a0646a9adf50a3847b94b96</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6IjM3NTY3M2U5N2EwNjQ2YTlhZGY1MGEzODQ3Yjk0Yjk2IiwianRpIjoiNTc4NzI4MTQtZmVlZi00ZCIsImV4cCI6MTYwNTk1MjAwNiwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.K70ggE8VONx2-rBuixDAK9wDPAtuKr8W_OY-1nmE6jU</string>
		<key>fileName</key>
		<string>购买课程的优惠方式</string>
		<key>type</key>
		<string>video</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>9898ee147ef44137bdadad27b43e79a4</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6Ijk4OThlZTE0N2VmNDQxMzdiZGFkYWQyN2I0M2U3OWE0IiwianRpIjoiNTNjNDk2ZjgtZjIzMC00MyIsImV4cCI6MTYwNTk1MjEzOSwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.DEc_SZe5dJ72z0dPjaXeixKcWACW6cYqQE4SX-_Lk04</string>
		<key>fileName</key>
		<string>监控学员的学习效果</string>
		<key>type</key>
		<string>video</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>9828a014e8c34cf49c515b7d7d7b293e</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6Ijk4MjhhMDE0ZThjMzRjZjQ5YzUxNWI3ZDdkN2IyOTNlIiwianRpIjoiNGNiYzczYTQtMTRjYy00NiIsImV4cCI6MTYwNTk1MjE2MSwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.OcQcc8DX2yeXclA86anaTXxlLaVZMDxQrH83cjyU234</string>
		<key>fileName</key>
		<string>多元化课程的创建</string>
		<key>type</key>
		<string>video</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>8f456b47afd04712a764ce31b65926eb</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6IjhmNDU2YjQ3YWZkMDQ3MTJhNzY0Y2UzMWI2NTkyNmViIiwianRpIjoiM2I3OWRlZTMtNjgxMC00YiIsImV4cCI6MTYwNTk1MjE4OSwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.0ogFFkwBvG4YyD89uflaLzIzYlJNaQQLkHML5pSz6GI</string>
		<key>fileName</key>
		<string>在线课程制作设备参考</string>
		<key>type</key>
		<string>ppt</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>2b3109487300478fac89db295e2741e4</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6IjJiMzEwOTQ4NzMwMDQ3OGZhYzg5ZGIyOTVlMjc0MWU0IiwianRpIjoiMjMwZjhiZmMtYTViZS00YSIsImV4cCI6MTYwNTk1MjM5MCwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.1wnf61yYsT-WxV0WpqFLomGBj_6ZJJdgQkPHLOjlUQc</string>
		<key>fileName</key>
		<string>EduSoho 领先的在线教育解决方案2019V1.2</string>
		<key>type</key>
		<string>ppt</string>
	</dict>
	<dict>
		<key>resNo</key>
		<string>3fe79e9ee9ca4b6e9ec86a36c5ba06de</string>
		<key>token</key>
		<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJubyI6IjNmZTc5ZTllZTljYTRiNmU5ZWM4NmEzNmM1YmEwNmRlIiwianRpIjoiZTlkZWJiNjktYzY3My00NCIsImV4cCI6MTYwODE4Nzc5NiwidGltZXMiOjEwMDAwMDAsInByZXZpZXciOm51bGwsIm5hdGl2ZSI6bnVsbCwicGxheUF1ZGlvIjpudWxsLCJoZWFkIjpudWxsLCJza2lwIjpudWxsLCJlbmNyeXB0IjpudWxsfQ.2nSF6cmLJDEb3XOe7Rm2hY2-9AuWqnltwhjvamy96WA</string>
		<key>fileName</key>
		<string>感知翻转课堂</string>
		<key>type</key>
		<string>document</string>
	</dict>
</array>
</plist>
